.group{
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow-y: auto;
}

.item{
    padding: 5px;
    padding-left: 1.5rem;
    cursor: pointer;
    border: 2px solid transparent;
    margin: 1px;
}
.item-database{
    color: rgb(218, 121, 76);
}
.item-table{
    color: rgb(86, 167, 54);
}
.item-parent{
    color: rgb(76, 190, 218)
}
.item-field{
    color: rgb(67, 0, 250)
}
.item-child{
    color: rgb(218, 76, 211)
}
.item:hover{
    background-color: #f5f5f5;
    
}
